/*Index*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: Cambria, Cochin, Georga, Times, "Times New Roman", serif;
  padding: 0;


}


.contact {
  display: flex;
  align-items: flex-start;
  margin-left: 70%;
}

.contact a.llamada {
  font-size: 20px;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  text-decoration-color: blue;
}

.contact a.llamada:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor */
}

.contact a.llamada i {
  font-size: 20px;
  margin-right: 5px;
  color: blue; /* Color del icono */
}

a {
  text-decoration: none;
}

/* Opcionalmente, puedes ajustar la posición vertical del icono si es necesario */
.fa-solid.fa-phone-volume {
  vertical-align: middle; /* Alinea verticalmente el icono con el texto */
}

header {
  background: linear-gradient(to right, #ffffff, #0000ff, #008000);
  height: 115px;
  margin-top: -3px;

}

header h1 {
  font-family: cursive;
  margin-left: 9%;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  columns: 30px;
  font-weight: normal; /* Eliminar la negrita */
}

header img {
  float: left; /* Hace que la imagen flote a la izquierda */
  width: 100px;
  height: auto;
  margin-top: -20px; /* Ajusta este valor según sea necesario para subir la imagen */
}
header div span {
  position: static;
  display: flexbox;
  font-size: 25px;
  margin: 10%;
  padding: 10px;
}

/* Estilos para la barra de navegación */
nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 63px;
  width: 100%;
  background-color: #5580AA;
}

/* Estilos para los enlaces de navegación */
nav a {
  color: #fff; 
  text-decoration: none; 
  padding: 10px 15px; 
  transition: background-color 0.5s ease; 
}

nav a:hover {
  background-color: #21405f; 
  border-radius: 5px; 
}

div .redes {
  background-color: aqua;
}
spang .Principal {
  background-color: aqua;
}

.Principal {
  font-size: 34px; /* Tamaño de fuente para el texto principal */
  font-weight: bold; /* Texto en negrita */
  color: hsl(222, 94%, 47%); /* Color del texto */
}

.Informacion {
  color: black;
  font-size: 19px; /* Tamaño de fuente para el texto de información */
  line-height: 1.5; /* Espaciado entre líneas */
  padding: 20px;
  margin: 20px; /* Espacio en la parte superior del elemento */
  border: 2px solid green;
  border-radius: 10px;
  width: auto;
}
.Padre {
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 2px;
}
.Hijo {
  width: 50%;
  font-size: 100px;
}

.Video {
  position: relative;
  margin: 84px 0px; /* Margen en los lados */
}
.Mapa {
  margin: 0%;
  padding: 10px;
  width: 100%;
}
.Noticia h1 {
  padding: 4%;
  font-size: 30px;
  width: 1000px;
  color: blue;
}
spang {
  display: flex; /* Hace que el spang se comporte como un contenedor flex */
  flex-direction: column; /* Apila los elementos de forma vertical */
}

.Imagenescontainer {
  padding: 2%;
  flex: row;
}

.Imagenescontainer {
  padding: 2%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: self-end;
}

.imagenescontainer img {
  max-width: 100%;
  padding: 2%;
  flex-wrap: nowrap;
  height: auto;
}
.DatosNoticias {
  border-radius: 10000px;
  display: flex;
  justify-content: space-around; /* Distribuye el espacio entre los elementos */
}
.DatosNoticias a {
  color: black;
  font-size: 20px;
  display: block;
}
.Empresa {
  padding: 4%;
  font-size: 0px;
  color: blue;
}
.Empresa h2 {
  font-size: 30px;
}
.div .Empresa .Imagenescontainer2 img {
  display: flex;
  justify-content: space-around;
  padding: 4%;
}
.Imagenescontainer2 {
  display: flex;
  justify-content: space-around;
}
.Imagenescontainer2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}
.Aliados {
  font-size: 40px;
}

/*Estilo del footer*/

/* Estilos para el footer */
footer {
  width: 97.%;
  margin-top: 20px;
}
.Footer {
  display: flex;
  justify-content: center;
  background-color: #5580AA;
  padding: 20px;
  color: white;
}
.FooterAdmin {
  display: flex;
  justify-content: center;
  background-color: #080c3b;
  padding-top: 20px;
  paint-order: 20px;
  padding-bottom: 30px;
  color: white;
}

/* Estilos para los elementos dentro del footer */
.Footer > div {
  padding: 10px;
}
.Horarios {
  background-color: #006e24;
  border: 10px;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
}
.Direccion {
  background-color: #1913c5;
  border: 10px;
  padding: 10px;
}
.Email {
  background-color: #006e24;
  border: 10px;
  padding: 10px;
}
.Telefono {
  background-color: #1913c5;
  border: 10px;
  padding: 10px;
  border-radius: 0px 10px 10px 0px;
}

.linkFooter {
  color: white;
}

/*Aqui generamos lo que es el estilo del css pagina de Nosotros */
h1.Nosotros {
  border-radius: 60px;
  justify-content: center;
  margin: 30px;
  font-size: 25px;
  color: white;
  background-color: #080c3b;
  width: 430px;
}
.NosotrosInicio {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

div.Nosotros {
  font-size: 20px;
  margin-left: 10px;
}
.Mision {
  display: inline-block; /* Para que la imagen se comporte como un elemento en línea */
  vertical-align: middle; /* Para alinear verticalmente la imagen con el texto */
}

.contenido {
  padding: 2%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.whatsapp {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 13px;
}

#carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}

.AliadosContenedor {
  max-width: 100%; /* Establece el ancho máximo de la imagen al 100% del contenedor */
  height: auto; /* Permite que la altura de la imagen se ajuste automáticamente para mantener la proporción */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  padding: 2% 0;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.Nosotros {
  display: flex;
  justify-content: center;
  width: 45%;
  padding: 20px;
  margin: 20px;
  font-family: sans-serif;
}


.Vision {
  width: 100%;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  display: flex;
}


.espacios {
  width: 50%;
  list-style: none;
}
.espacios1 {
  margin-bottom: 10px;
}
.Vision {
  margin-left: auto; /* Mueve la sección Vision hacia la derecha */
  order: 2; /* Cambia el orden para que se muestre después de Nosotros */
  font-size: 20px;
}


.carousel-item img {
  border-radius: 50%; /* Hace que las imágenes sean redondas */
}
.carousel-slide img {
  border-radius: 50%; /* Hace que las imágenes sean redondas */
}
.Calendario {
  padding: 30px;
  display-flex: center;
}
.mision {
  width: 10px;
  height: 20px;
}
.contenido {
  display: flex;
  align-items: center; /* Centra verticalmente el contenido */
}

.mision {
  max-width: 710px; /* Ajusta el ancho máximo de la imagen */
  margin-left: 20px; /* Ajusta el margen izquierdo para separar la imagen del texto */
}
.contenido {
  max-width: 600px;
}

.Proyecto1{
  padding: 300px;
}

.Carnicos{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  padding: 25px;
}
.Lacteos{
  display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    padding: 25px;
}
.Panificacion{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    padding: 25px;
}
.Imagenescarnicos {
  max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el carrusel horizontalmente */
}

.carousel-image {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: auto; /* Altura automática para mantener la proporción */
}
.Mision{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  padding: 25 0px 25px 10px;
}

.Vision{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
  padding: 25px;
}
.Hijo-Objetivos{
  display: flex;
  flex-direction: row-reverse;
  align-content: stretch;
  justify-content: center;
  padding: 25px;
}
.experiencia1 {
  display: flex; /* Hacer que los elementos dentro de .experiencia1 se comporten como flexbox */
  align-items: center; /* Alinear verticalmente los elementos */
  width: 100%;
}
.experiencia1 {
  display: flex; /* Hacer que los elementos dentro de .experiencia1 se comporten como flexbox */
  align-items: center; /* Alinear verticalmente los elementos */
  width: 100%;
}

.experiencia1 img {
  margin-right: 20px; /* Espacio entre la imagen y el párrafo */
}

.experiencia {
  font-size: 24px;
  width: 100%;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
}

/* Estilos CSS para el diseño */
.container {
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
}

.text {
  flex: 1; /* El texto ocupa todo el espacio disponible */
  padding: 20px; /* Añade espacio alrededor del texto */
}

.carousel {
  flex: 1; /* El carrusel ocupa todo el espacio disponible */
  max-width: 50%; /* Limita el ancho del carrusel para evitar que ocupe todo el espacio */
  margin: 0 auto; /* Centra horizontalmente el carrusel */
}

.carousel-image {
  max-width: 100%; /* Las imágenes se ajustan automáticamente al ancho del carrusel */
  height: auto; /* Altura automática para mantener la proporción */
}

.noticias {
  font-size: 30px;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
}

.noticias-padre {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.noticias {
  width: 100%;
  height: 300px;
  display: flex;
  align-content: center;
  justify-content: center;
  background: url(ImagenNoticias.jpg);
  background-size: cover;
  background-position: center;
}
.noticias-texto {
  font-size: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ColumnaNoticias {
  display: ruby-text;
}
.Padre-noticias {
  width: 350px;
  height: auto;
  border-radius: 20px;
  border: 2px solid #006e24;
}
.Padre-noticias h3 {
  padding: 4%;
  font-size: 20px;
  display: flex;
  justify-content: center;
}
.Padre-noticias p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: auto;
}

.PadreProyecto h1 {
  padding: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.Proyecto1{
  padding: 200px;
}

.ParrafoInformacion {
  padding: 5%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 50%; /* Ajusta el ancho como desees */
  margin: auto; /* Centra el párrafo horizontalmente */
}

/*Admisiones*/

.PreguntasAdmisiones{
  padding:4%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center; 
}

.PEI h3{
font-family: Arial, Helvetica, sans-serif;
font-size: 23px;
padding: 10px
}

.PEI{
  padding: 10PX;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
.Ingresos {
  display: flex;
  justify-content: space-between; /* Para distribuir las columnas a los extremos */
  padding: 20px;
  background-color: #162955;
  text-align: left;
  margin-bottom: 40px; /* Espacio adicional al final de la sección de ingresos */
}

.columna {
  flex-basis: 48%; /* Ancho de las columnas */
}

.columna > div {
  margin-bottom: 20px; /* Espaciado entre elementos dentro de cada columna */
}

/* Estilos para los títulos dentro de la sección Ingresos *//* Estilos para los títulos dentro de la sección Ingresos */
.contenedor{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0%;
  padding: 0%;
}
.SectionLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background:url(Loging.jpg) no-repeat ;
  background-position: center;
  background-size:cover ;
}

.contenedorlogin{
  position: relative;
  width: 400px;
  border: 2px solid rgb(255, 255, 255, alpha);
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contenedorlogin h2{
  font-size: 2.3rem;
  color: #fff;
  text-align: center;
}

.input-contenedor{
  position:relative;
  margin: 30px 0;
  width: 300px;
  border-bottom: 2px solid #ffff;
}

.input-contenedor label{
  position: absolute;
  top:50%;
  left:5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1rem;
  pointer-events: none;
  transition: .6s;
  font-weight: bold;

}

input:focus ~ label,
input:valid ~ label{
  top: -15px;
}

.input-contenedor input{
  color : #fff;
  font-weight: bold;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size:1rem;
  padding: -35px 0 5px;
}
.input-contenedor i{
position: absolute;
color: #fff;
font-size: 1.6rem;
top:19px;
right: 8px;
}

.olvidar{
  margin:-15px 0 15px;
  font-size: .9em;
  color: #fff;
  justify-content: center;
}

.olvidar label input{
  margin: 3px ;
}
.olvidar label a{
  color: #080c3b;
  text-decoration: none;
  transition: .3s;
  font-size: .9em;
}

.olvidar label a:hover{
text-decoration: underline;
}
.ButtonLogin{
  width: 100%;
  height: 45px;
  border-radius: 40px;
  background: #fff;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  transition: .4s;
}

button:hover{
  opacity: .9;
}

.registrar{
  font-size:.8rem ;
  color: #fff;
  text-align: center;
  margin:20px 0 10px
}

.registrar p a{
  text-decoration: none;
  color:#fff;
  font-weight: bold;
  transition: .3s;
}

.registrar p a:hover{
text-decoration: underline;
}